@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">ASP.NET</a>
            <a href="https://github.com/shimat/opencvsharp/" target="_blank">OpenCvSharp</a>
        </div>
        <article class="content px-4">
            @Body
        </article>
        <div class="foot-row px-2">
            <a href="https://github.com/takam1602/" target="_blank">by takam1602</a>
        </div>
    </main>
</div>
