body {
}

h1 {
    color: #00ff21;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-size:30pt;
}

h2 {
    color: #a30808;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-size:12pt;
}
