@page "/"
@using OpenCvSharp
@inject IJSRuntime jsRuntime;

<PageTitle>Meat Generatorのページ</PageTitle>
<a href="meatGenerator">
    <h1>Meat Generator </h1>
</a>

<p>
    疑似的に枝肉切開面のロース芯画像を生成します．
</p>

<h2>How to use</h2>
<p>
    Nextボタンを押して画像を生成，Answerボタンで答えを表示します．

</p>

<p>
    自分の回答を入力し，採点できる機能を付けました．
</p>

<p>
    ジャッジングの自主練にどうぞ．
</p>

<h2>困ったら</h2>
<p>
    問題の報告，修正依頼は
    <a href="https://github.com/takam1602/MeatGenerator" target="_blank">このリポジトリ</a>
    でIssuesから連絡ください
</p>

<p>
    shimatさんのサンプルに助けてもらいました．
</p>
<a href="https://github.com/shimat/opencvsharp_blazor_sample" target="_blank">
    <canvas @ref="canvasElements" width="64" height="64">
    </canvas>
</a>

@code {
    private ElementReference canvasElements;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        var imageBytes = new byte[64 * 64 * 4];
        unsafe
        {
            fixed (byte* pImageBytes = imageBytes)
            {
                var p = pImageBytes;
                for (int y = 0; y < 64; y++)
                {
                    for (int x = 0; x < 64; x++)
                    {
                        var xp = (byte)(x / 64.0 * 255);
                        var yp = (byte)(y / 64.0 * 255);

                        *(p++) = xp; // R
                        *(p++) = yp; // G
                        *(p++) = (byte)(255 - xp); // B
                        *(p++) = 255; // A
                    }
                }
            }
        }

        var canvasClients = new CanvasClient(jsRuntime, canvasElements);
        await canvasClients.DrawPixelsAsync(imageBytes);
    }
}
